@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Ubuntu&display=swap');

:root {
  --orange: #fc2f00;
}
html {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  min-height: 100vh!important;
}

/* navbar */ 
.navbar {
  background: rgb(252,47,0);
  background: linear-gradient(90deg, rgba(252,47,0,1) 0%, rgba(255,255,255,1) 80%);
  font-size: 1rem;
  color: #fff;
  z-index: 1000;
}

.navbar .logotext {
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
  font-size: 1.8rem;
  color: #fff;
}

.navbar .nav-item .nav-link {
  color: #fff;
}

.navbar .nav-item .leftlink {
  color: var(--orange);
  font-weight: bold;
}
.navbar .nav-text {
  color: var(--orange);
  text-shadow: 1px 1px 2px #999898;
}

.navbar .leftlink:hover {
  border-bottom: 2px solid var(--orange);
}

#navbar.fixed {
  position: fixed;
  top: 0;
  width: 100%;
}

@media(max-width: 768px) {
  .navbar .nav-item .leftlink {
    color: #fff;
  }
}

/*hero bootstrap*/

.hero .hero_heading {
  color: var(--orange);
  font-family: 'Ubuntu', sans-serif;
 }

 .hero .btn {
  background-color: var(--orange);
  border: var(--orange);
 }

 .hero .btn:hover {
  background-color: #fff;
  color: var(--orange);
  border: 2px solid var(--orange);
 }

/*features*/

.features h1 {
  font-family: 'Ubuntu', sans-serif;
}

.features img {
  width: 50%;
}

.features h3 {
  height: 4.3rem; 
  overflow: hidden; 
  text-overflow: ellipsis; 
}

@media(max-width: 768px) {
  .features h3 {
    height: 8rem;
  }
}

/*testimonials*/

.reviews h1 {
  font-family: 'Ubuntu', sans-serif;
}

.testimonial-container {
  background-color: var(--orange);
  color: #fff;
  border-radius: 15px;
  margin: 1.25rem auto;
  padding: 3.1rem 5rem;
  max-width: 768px;
  position: relative;
}

.fa-quote {
  color: rgba(255,255,255,0.3);
  font-size: 1.25rem;
  position: absolute;
  top: 4.3rem;
}

.fa-quote-right {
  left: 2.5rem;
}
.fa-quote-left {
  right: 2.5rem;
}

.testimonial {
  line-height: 28px;
  text-align: justify;
}

.user {
  display: flex;
  align-items: center;
  justify-content: center;
}

.user-image {
  border-radius: 50%;
  height: 75px;
  width: 75px;
  object-fit: cover;
}

.user-details {
  margin-left: 10px;
}

.user h4 {
  margin: 0;
}

.user .role {
  font-weight: normal;
  margin: 10px 0;
}

.progress-bar {
  background-color: #fff;
  height: 4px;
  width: 100%;
  animation: grow 10s linear infinite;
  transform-origin: left;
}

@keyframes grow {
  0% {
    transform: scaleX(0);
  }
}

@media(max-width: 768px) {
  .testimonail-container {
    padding: 20px 30px;
  }

  .fa-quote {
    display: none;
  }
}

/*my trips*/
.myTrips h1 {
  color: var(--orange);
  font-family: 'Ubuntu', sans-serif;
  justify-content: center;
  text-align: center;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.create-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  position: relative;
}
#deleteForm {
  position: absolute;
  top: 5px;
  right: 5px; 
}
.delete-btn {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: none;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  display: flex;
  background-color: red;
  align-items: center;
  justify-content: center;
  cursor: pointer; 
}

.btn-group-center {
  display: flex;
  justify-content: center;
}

.card-body .tripname {
  color: var(--orange);
  font-weight: bold;
  text-align: center;
  padding: 0.5rem 0.5rem;
  max-width: 200px;
  overflow: hidden; 
  text-overflow: ellipsis;
  white-space: nowrap;
}

.card-body img {
  object-fit: cover;
}

.card-body .destination {
  font-style: italic;
}

.tripBtn:hover {
  background-color: var(--orange);
  color: #fff;
}

/*user profile*/

.userpage {
  max-width: 50rem;
  margin: 1.25rem auto;
  background-color: #fff;
  padding: 1.25rem;
  border-radius: 5px;
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
  padding-bottom: 2rem;
}

.userpage img {
  text-align: center;
}
.userpage h1 {
  color: var(--orange);
  font-family: 'Ubuntu', sans-serif;
  justify-content: center; 
  text-align: center;
  padding-top: 3rem;
  padding-bottom: 2rem;
}

.userpic {
  max-width: 100%;
  height: auto;
  align-items: center;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.details {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 0.6rem;
  margin-top: 1.25rem;
  margin-bottom: 3rem;
  padding-left: 8rem;
}

.details .label {
  font-weight: bold;
}

.details .value {
  padding: 5px;
}

.actions {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.edit {
  background-color: #fff;
  color: var(--orange);
  border: 1px solid var(--orange);
}

.edit:hover {
  background-color: var(--orange);
  color: #fff;
}

/*//login&register */

.si {
  font-family: 'Ubuntu', sans-serif;
  padding-bottom: 2rem;
  padding-top: 2rem;
 }

.login-form, .reg-form {
  background-color: #ffeedd;
  border: 1px solid #f1bfa0;
  padding: 1rem 0.5rem;
}

.login-form label,
.reg-form label {
  margin-top: 1rem;
}

.login-form input,
.reg-form input {
  border-color: var(--orange);
}

.login-form input:focus,
.reg-form input:focus {
  color: var(--orange);
  background-color: #fff;
  border-color: var(--orange);
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(247, 168, 144, 0.836);
}

.sign-in,
.reg {
  background-color: #fff;
  color: var(--orange);
  border: 1px solid var(--orange);
 }

.sign-in:hover,
.reg:hover {
  background-color: var(--orange);
  color: #fff;
 }

/*activities, packing list*/

.activ {
  font-family: 'Ubuntu', sans-serif;
  padding-bottom: 2rem;
  padding-top: 2rem;
}

.table {
  border-bottom: 1px solid #f1bfa0;
  line-height: normal;
}

.table td {
  padding-bottom: 0;
  margin-bottom: 0;
  align-items: center;
  align-self: center;
}

.table tbody tr:last-child {
  border-bottom: 1px solid #fff;
}

.card-header {
  background-color: #ffeedd;
  border: 1px solid #f1bfa0;
}

.addAct {
 background-color: #fff;
 border: 1px solid var(--orange);
 color: var(--orange);
 font-weight: bold;
}

.addAct:hover {
  background-color: var(--orange);
  color: #fff;
}

/*forms*/

.saveBtn {
  background-color: var(--orange);
  color: #fff;
}

.saveBtn:hover {
  background-color: #fff;
  color: var(--orange);
  border: 1px solid var(--orange);
}

.forms input, textarea {
  border-color: var(--orange);
}

.forms input:focus,
.forms textarea:focus {
  color: var(--orange);
  background-color: #fff;
  border-color: var(--orange);
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(247, 168, 144, 0.836);
}

 
/* footer */ 

.footer {
  height: 20vh;
  background: rgb(255,255,255);
  background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(252,47,0,1) 80%);
  color: #fff;
  left: 0;
  /* bottom: 0; */
  top: 100%;
  width: 100%;
  position: sticky;
}


/*///////*/
