@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Ubuntu&display=swap');

:root {
  --orange: #fc2f00;
}
html {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  min-height: 100vh!important;
}
/* navbar */ 
.navbar {
  background: rgb(252,47,0);
  background: linear-gradient(90deg, rgba(252,47,0,1) 0%, rgba(255,255,255,1) 80%);
  font-size: 1rem;
  color: #fff;
  z-index: 1000;
}

.navbar .logotext {
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
  font-size: 1.8rem;
  color: #fff;
}

.navbar .nav-item .nav-link {
  color: #fff;
}

.navbar .nav-item .leftlink {
  color: var(--orange);
  font-weight: bold;
}
.navbar .nav-text {
  color: var(--orange);
  text-shadow: 1px 1px 2px #999898;
}

.navbar .leftlink:hover {
  border-bottom: 2px solid var(--orange);
}

#navbar.fixed {
  position: fixed;
  top: 0;
  width: 100%;
}

@media(max-width: 768px) {
  .navbar .nav-item .leftlink {
    color: #fff;
  }
}

/*hero bootstrap*/

.hero .hero_heading {
  color: var(--orange);
  font-family: 'Ubuntu', sans-serif;
 }

 .hero .btn {
  background-color: var(--orange);
  border: var(--orange);
 }

 .hero .btn:hover {
  background-color: #fff;
  color: var(--orange);
  border: 2px solid var(--orange);
 }

/*features*/

.features h1 {
  font-family: 'Ubuntu', sans-serif;
}

.features img {
  width: 50%;
}

.features h3 {
  height: 4.3rem; 
  overflow: hidden; 
  text-overflow: ellipsis; 
}

@media(max-width: 768px) {
  .features h3 {
    height: 8rem;
  }
}

/*testimonials*/

.reviews h1 {
  font-family: 'Ubuntu', sans-serif;
}

.testimonial-container {
  background-color: var(--orange);
  color: #fff;
  border-radius: 15px;
  margin: 1.25rem auto;
  padding: 3.1rem 5rem;
  max-width: 768px;
  position: relative;
}

.fa-quote {
  color: rgba(255,255,255,0.3);
  font-size: 1.25rem;
  position: absolute;
  top: 4.3rem;
}

.fa-quote-right {
  left: 2.5rem;
}
.fa-quote-left {
  right: 2.5rem;
}

.testimonial {
  line-height: 28px;
  text-align: justify;
}

.user {
  display: flex;
  align-items: center;
  justify-content: center;
}

.user-image {
  border-radius: 50%;
  height: 75px;
  width: 75px;
  object-fit: cover;
}

.user-details {
  margin-left: 10px;
}

.user h4 {
  margin: 0;
}

.user .role {
  font-weight: normal;
  margin: 10px 0;
}

.progress-bar {
  background-color: #fff;
  height: 4px;
  width: 100%;
  animation: grow 10s linear infinite;
  transform-origin: left;
}

@keyframes grow {
  0% {
    transform: scaleX(0);
  }
}

@media(max-width: 768px) {
  .testimonail-container {
    padding: 20px 30px;
  }

  .fa-quote {
    display: none;
  }
}

/*my trips*/
.myTrips h1 {
  color: var(--orange);
  font-family: 'Ubuntu', sans-serif;
  justify-content: center;
  text-align: center;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.create-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-body .tripname {
  color: var(--orange);
  font-weight: bold;
  text-align: center;
}

.card-body .destination {
  font-style: italic;
}

.tripBtn:hover {
  background-color: var(--orange);
  color: #fff;
}

/*user profile*/

.user h1 {
  color: var(--orange);
  font-family: 'Ubuntu', sans-serif;
  justify-content: center;
  text-align: center;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

/* footer */ 

.footer {
  height: 20vh;
  background: rgb(255,255,255);
  background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(252,47,0,1) 80%);
  color: #fff;
  left: 0;
  /* bottom: 0; */
  top: 100%;
  width: 100%;
  position: sticky;
}


/*///////*/
