{% extends 'base.html.twig' %}

{% block title %}Edit PackingList{% endblock %}

{% block body %}
    <h1>Edit PackingList</h1>

    {{ include('paking_list/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_trips_packinglist', {'id': tripId}) }}">back to list</a>

    {{ include('paking_list/_delete_form.html.twig') }}
{% endblock %}
