{% extends 'base.html.twig' %}

{% block title %}New packing item{% endblock %}

{% block body %}
    <h1>Create new packing item for your trip</h1>

    {{ include('paking_list/_form.html.twig') }}

    <a href="{{ path('app_paking_list_index') }}">back to list</a>
{% endblock %}
