{% extends 'base.html.twig' %}

{% block title %}Edit Trip
{% endblock %}

{% block body %}
	<h1>Edit Trip</h1>
	{# <div class="d-flex justify-content-center"> #}

	<div class="container">
		{{ include('trip/_form.html.twig', {'button_label': 'Update'}) }}
		<br>
		{{ include('trip/_delete_form.html.twig') }}
		<a href="{{ path('app_trip_index',{'id':app.user.id}) }}">back to list</a>


	</div>
{% endblock %}
