{% extends 'base.html.twig' %}

{% block title %}New Trip
{% endblock %}

{% block body %}


	<h1>Create new Trip</h1>
	<div
		class="container">
		{# <div class="d-flex justify-content-center"> #}
		{{ include('trip/_form.html.twig') }}

		<a href=" {{ path('app_trip_index', {'id': app.user.id}) }} ">Back to the trips</a>
	</div>
{% endblock %}
