{% extends 'base.html.twig' %}

{% block title %}New Activities{% endblock %}

{% block body %}
    <h1>Create new Activities</h1>

    {{ include('activities/_form.html.twig') }}

    <a href="{{ path('app_activities_index') }}">back to list</a>
{% endblock %}
