{% extends 'base.html.twig' %}

{% block title %}New Activities
{% endblock %}

{% block body %}
    <h1>Create new Activities</h1>
    <div class="container">
        {{ include('activities/_form.html.twig') }}

        {% if tripDestination is defined %}
            <a class="btn btn-success mt-2" href="{{ path('app_trip', {'destination': tripDestination}) }}">Back to the trips</a>
        {% endif %}
    </div>
{% endblock %}

