<div class="footer">
  <footer class="d-flex flex-wrap justify-content-between align-items-end py-3 pt-5 my-4">
    <p class="col-md-4 mb-0 text-body-white ps-3">
        <img src="{{ asset('images/logo_roam.png') }}" alt="logo" style="width: 60px;" class="ms-2 me-2">
        &copy; 2023 ROAM 
    </p>
    <ul class="nav col-md-4 justify-content-end pe-3">
      <li class="nav-item"><a href="https://facebook.com" class="nav-link px-2">
        <i class="fa-brands fa-facebook fa-xl" style="color: #ffffff;"></i>
      </a></li>
      <li class="nav-item"><a href="https://instagram.com" class="nav-link px-2">
        <i class="fa-brands fa-instagram fa-xl" style="color: #ffffff;"></i>
      </a></li>
      <li class="nav-item"><a href="https://telegram.com" class="nav-link px-2 text-body-secondary">
        <i class="fa-brands fa-telegram fa-xl" style="color: #ffffff;"></i>
      </a></li>
    </ul>
  </footer>
</div>