{% extends 'base.html.twig' %}

{% block title %}Edit JournalPost{% endblock %}

{% block body %}
    <h1>Edit JournalPost</h1>

    {{ include('journal_post/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_journal_trip', {'id': trip.id}) }}">back to list</a>

    {{ include('journal_post/_delete_form.html.twig') }}
{% endblock %}
