{% extends 'base.html.twig' %}

{% block title %}New JournalPost{% endblock %}

{% block body %}
    <h1>Create new JournalPost</h1>

    {{ include('journal_post/_form.html.twig') }}

    <a href="{{ path('app_journal_trip', {'id': trip.id}) }}">back to list</a>
{% endblock %}


